@font-face{font-family:WYekan;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;src:url(../fonts/YekanWeb-Regular.woff) format("woff")}@font-face{font-family:IRANSans;font-style:normal;font-weight:400;src:url(../fonts/IRANSansWeb_Light.eot);src:url(../fonts/IRANSansWeb_Light.eot?#iefix) format("embedded-opentype"),url(../fonts/IRANSansWeb_Light.woff2) format("woff2"),url(../fonts/IRANSansWeb_Light.woff) format("woff"),url(../fonts/IRANSansWeb_Light.ttf) format("truetype")}@font-face{font-family:IRANSans;font-style:normal;font-weight:700;src:url(../fonts/IRANSansWeb_Medium.eot);src:url(../fonts/IRANSansWeb_Medium.eot?#iefix) format("embedded-opentype"),url(../fonts/IRANSansWeb_Medium.woff2) format("woff2"),url(../fonts/IRANSansWeb_Medium.woff) format("woff"),url(../fonts/IRANSansWeb_Medium.ttf) format("truetype")}
body {
    color:#fff;
    text-align:right;
    font-family: iransans;
}
.wrapper {
    padding: 20px;
    background-color: #3f51b5;
    margin: 20px;
    min-height: 500px;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12);
}
.margin-20 {
    margin-top:20px;
}
.center {
    margin: auto;
}
.box-term {
    width: 400px;background-color: white;color: #7e7e7e;padding: 10px;direction: rtl;
}
p {
    font-size :13px;
    margin:0px;
}
.btn {
    position: relative;
    font-family: iransans;
    display: block;
    margin: 30px auto;
    padding: 0;

    overflow: hidden;

    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);

    background-color: #2ecc71;
    color: #ecf0f1;

    transition: background-color .3s;
}

.btn:hover, .btn:focus {
    background-color: #27ae60;
}

.btn > * {
    position: relative;
}

.btn span {
    display: block;
    padding: 12px 24px;
}

.btn:before {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;

    display: block;
    width: 0;
    padding-top: 0;

    border-radius: 100%;

    background-color: rgba(236, 240, 241, .3);

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btn:active:before {
    width: 120%;
    padding-top: 120%;

    transition: width .2s ease-out, padding-top .2s ease-out;
}

/* Styles, not important */
*, *:before, *:after {
    box-sizing: border-box;
}

html {
    position: relative;
    height: 100%;
}


h2 {
    font-weight: normal;
}

.btn.orange {
    background-color: #e67e22;
}

.btn.orange:hover, .btn.orange:focus {
    background-color: #d35400;
}

.btn.red {
    background-color: #e74c3c;
}

.btn.red:hover, .btn.red:focus {
    background-color: #c0392b;
}
/* form starting stylings ------------------------------- */
.group 			  {
    position:relative;
    margin-top:35px;
    direction: rtl;
}
input 				{
    font-size:13px;
    font-family:iransans;
    padding:10px 10px 10px 5px;
    display:block;
    width:300px;
    border:none;
    border-bottom:1px solid #757575;
}
input:focus 		{ outline:none; }

/* LABEL ======================================= */
.group label {
    color: #999;
    font-size: 13px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    right: 10px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
/* active state */
input:focus ~ label, input:valid ~ label 		{
    top:-20px;
    font-size:14px;
    color:#5264AE;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:300px; }
.bar:before, .bar:after 	{
    content:'';
    height:2px;
    width:0;
    bottom:1px;
    position:absolute;
    background:#5264AE;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}
.bar:before {
    left:50%;
}
.bar:after {
    right:50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
    position:absolute;
    height:60%;
    width:100px;
    top:25%;
    left:0;
    pointer-events:none;
    opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
    from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
    from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
}